.container {
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
  position: relative;
  object-fit: cover;
  margin: 10px;
  padding: 3px;
  border: 4px;
  border-color: rgb(#524e00, green, blue);
  border-radius: 4rem;
}

#name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.card-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  align-items: center;
  justify-content: center;
}

.company-info {
  align-items: center;
  justify-content: center;
}
