@import url("css\reset.css");

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(37, 91, 3);
  box-sizing: border-box;
  margin: 8px;
  padding: 4px;
  border-radius: 4rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.profile-pic {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 4px;
  padding: 2px;
  border-radius: 100%;
}

#name {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card {
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}

.card-description {
  font-family: cursive;
}

.contact-info {
  align-items: center;
  justify-content: center;
}

.company-info {
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-container {
    
  }

  
}

@media (min-width: 500px) {
  .content-container {
   
  }

  
}

@media (max-width: 499px) {
  
}
